# Local .terraform directories
.terraform/
.terraform.lock.hcl

# Terraform plan files
*.tfplan

# Sensitive or environment-specific variable files
terraform.tfvars
*.tfvars.json

# Output logs and crash reports
crash.log
*.log

# State files (highly sensitive!)
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.backup

# SSH keys (if generated locally)
*.pem
*.key
*.pub

# IDE or OS files
.DS_Store
.vscode/
.idea/
*.swp
*.bak

bootstrap/.terraform/
bootstrap/.terraform.lock.hcl
bootstrap/*.tfplan
bootstrap/terraform.tfvars
bootstrap/*.tfvars.json
bootstrap/crash.log
bootstrap/*.log
bootstrap/terraform.tfstate
bootstrap/terraform.tfstate.backup
bootstrap/*.tfstate
bootstrap/*.tfstate.backup
bootstrap/*.pem
bootstrap/*.key
bootstrap/*.pub
bootstrap/.DS_Store

envs/dev/.terraform/
envs/dev/.terraform.lock.hcl
envs/dev/*.tfplan
envs/dev/terraform.tfvars
envs/dev/*.tfvars.json
envs/dev/crash.log
envs/dev/*.log
envs/dev/terraform.tfstate
envs/dev/terraform.tfstate.backup
envs/dev/*.tfstate
envs/dev/*.tfstate.backup
envs/dev/*.pem
envs/dev/*.key  
envs/dev/*.pub
envs/dev/.DS_Store
envs/prod/.terraform/
envs/prod/.terraform.lock.hcl   
envs/prod/*.tfplan
envs/prod/terraform.tfvars
envs/prod/*.tfvars.json
envs/prod/crash.log
envs/prod/*.log
envs/prod/terraform.tfstate
envs/prod/terraform.tfstate.backup
envs/prod/*.tfstate
envs/prod/*.tfstate.backup
envs/prod/*.pem
envs/prod/*.key
envs/prod/*.pub